.card {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border: solid 2px transparent;

  width: 300px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: all 0.3s ease;

  .image_content {
    aspect-ratio: 2 / 1;
    width: 300px;
    border-top-right-radius: 30px;
    position: relative;

    img {
      border-top-right-radius: 30px;
      aspect-ratio: 2 / 1;
      width: 300px;
      object-fit: cover;
    }

    .add_to_cart {
      all: unset;
      position: absolute;
      top: auto;
      left: auto;
      bottom: 1rem;
      right: 1rem;

      aspect-ratio: 1 / 1;
      width: 50px;
      border-radius: 50%;

      background-color: #faf9f6;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;

      i {
        font-size: 2rem;
        transition: all 0.3s ease;
      }
    }
    .add_to_cart:hover {
      background-color: var(--Text);
      i {
        color: #faf9f6;
      }
    }
  }

  .card_content {
    aspect-ratio: 2 / 1;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    gap: 0.5rem;

    h1,
    p {
      line-break: normal;
      text-align: center;
    }

    h1 {
      font-size: 1.3rem;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
    }

    button {
      all: unset;
      padding: 10px 20px;
      border-radius: 15px;
      cursor: pointer;
      color: #348541;
    }
  }
}
.card:hover {
  border: solid 2px rgba(223, 159, 115, 0.5);
}
