#cart_prices {
  width: 25vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  button {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1rem 2rem;
    color: #faf9f6;
    background-color: var(--Text);
    font-size: 2rem;
  }
}
