.card {
  border: solid 2px transparent;

  width: 150px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: all 0.3s ease;

  .image_content {
    width: 150px;
    height: 150px;
    position: relative;

    display: flex;
    justify-content: center;
    img {
      aspect-ratio: 1 / 1;
      width: 146px;
      object-fit: cover;
    }

    .add_to_cart {
      all: unset;
      position: absolute;
      top: auto;
      left: auto;
      bottom: 1rem;
      right: 1rem;

      aspect-ratio: 1 / 1;
      width: 40px;
      border-radius: 50%;

      background-color: #faf9f6;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;

      .add_to_cart_span {
      }
    }
    .add_to_cart.checked {
      background-color: var(--Text);
    }
  }

  .card_content {
    aspect-ratio: 1 / 1;
    width: 150px;
    padding: 10px;
    position: relative;

    .product_name,
    .product_info,
    .product_price {
      line-break: normal;
    }
    .product_price {
      font-weight: 600;
      border-radius: 15px;
      color: #348541;
    }

    .product_name {
      font-size: 0.875rem;
      margin-top: 1rem;
    }

    .product_info {
      font-size: 0.7rem;
      color: #717171;
      opacity: 0.8;
      position: absolute;
      top: auto;
      bottom: 10px;
    }
  }
  .card_content_no_info {
    aspect-ratio: 1 / 1;
    width: 150px;
    padding: 10px;

    .product_name,
    .product_price {
      line-break: normal;
    }
    .product_price {
      font-weight: 600;
      border-radius: 15px;
      color: #348541;
    }

    .product_name {
      margin-top: 1rem;
      font-size: 0.875rem;
    }
  }
}
.card:hover {
  border: solid 2px rgba(223, 159, 115, 0.5);
}
