#sidebar {
  // border: solid 1px crimson;
  width: 15vw;
  height: 90vh;
  padding: 20px 30px;
  position: sticky;
  top: 10vh;

  #sidebar_list {
    .sidebar_list_element {
      list-style: none;
      line-height: 3rem;
      font-size: 1.25rem;
      letter-spacing: 0.2rem;
      transition: all 0.3s ease;
      width: fit-content;
      a {
        text-decoration: none;
        cursor: pointer;
      }
      a > span {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        border-bottom: solid 2px var(--Text);
        transition: all 0.3s ease;
      }
      a > i {
        font-size: 2rem;
      }
      a:hover {
        cursor: pointer;
        span {
          left: 0;
          width: 100%;
        }
      }
    }
    .sidebar_list_element:hover {
      transform: scale(1);
    }
  }
}
@media (max-width: 900px) {
  #sidebar {
    display: none;
  }
}
