.product_row {
  width: 85vw;
  padding: 2rem;
  position: relative;
  transform: translateY(-10vh);

  > h1 {
    padding: 1rem 2rem;
  }
  .product_row_carousel {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1rem;
  }
}
.product_row:nth-child(1) {
  h1:nth-child(1) {
    margin-top: 10vh;
  }
}
