.product_row {
  width: 85vw;
  padding: 2rem;
  position: relative;
  // border: solid 1px crimson;

  > h1 {
    // border: solid 1px crimson;
    margin: 1rem 2rem;
    margin-top: 0;
  }
  .product_row_carousel {
    // border: solid 1px crimson;
    display: flex;
    gap: 2rem;

    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .arrow_left,
  .arrow_right {
    position: absolute;
    top: 0;
    left: 2rem;
    bottom: 0;
    font-size: 40px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #000;
    cursor: pointer;
    border: none;
    background: transparent;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 3;
  }

  .arrow_right {
    background: transparent;
    left: auto;
    right: 2rem;
  }
}
